::before,
::after
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/* STILE BASE*/

body
{
	background-color: white;
}

body, html
{
    font-family: 'Poppins', sans-serif;
	margin: 0;
	height: 100%;
    scroll-behavior: smooth;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}



/* Libreria */

.titoloservizi h1
{
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  text-align: center;
  font-size: 30pt;
  background-color: #bfaa8c;
  padding-bottom: 30px;
}

.titoloservizi--mod h1{
    padding-bottom: 0px;
}
.titoloservizi p
{
  text-align: center;
  background-color: #bfaa8c;
  color: #ffffff;
  text-decoration: underline;
  padding-bottom: 30px;
}

.containerservizi
{
    background: #d7c29c;
    overflow: auto;
    margin: auto;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 35px;
}

.servizibox
{
    padding: 25px;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 30px;
    width: 280px;
    height: 300px;
    text-align: center;
    box-shadow: 0px 0px 27px -3px #000000;
    border: 4px solid white;
    border-radius: 15px;
}

.servizibox:nth-child(1)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url(./immagini/img1.jpg);
}
.servizibox:nth-child(2)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img2.jpg);
}
.servizibox:nth-child(3)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), 
        url(./immagini/img3.jpg);
}
.servizibox:nth-child(4)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img4.jpg);
}

.numero
{
    width: 60px;
    height: 60px;
    color: #ffffff;
    background-color: #bfaa8c;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 15px;
    border: 2px solid white;
    font-size: 10px;
}

.servizibox h2
{
    color: #ffffff;
}

/* Footer */

.footerpagina
{
    background: #bfaa8c;
    padding: 20px;
    text-align: center;
}

.footerpagina p
{
    color: white;
}

hr
{
    color: white;
}

.medialinks ul 
{
    padding: 0;
    display: flex;
    justify-content: center;  
}

.medialinks ul li 
{
    margin: 0 10px;
    text-decoration: none;
    list-style: none;
    border: 2px solid white;
    border-radius: 50%;

}

.medialinks ul li .fa 
{
    color: white;
    font-size: 25px;
    line-height: 50px;
}

.medialinks a 
{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

.serviziboxint{
    padding: 25px;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 30px;
    width: 280px;
    height: 300px;
    text-align: center;
    box-shadow: 0px 0px 27px -3px #000000;
    border: 4px solid white;
    border-radius: 15px;
}
.serviziboxint--mod{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
        url(./immagini/netflix.png);
}
.serviziboxint--mod1{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
        url(./immagini/youtube.png);
}
.serviziboxint--mod2{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
        url(./immagini/nba.jpg);
}
.serviziboxint--mod3{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
        url(./immagini/f1.png);
}
.serviziboxint--mod4{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
        url(./immagini/quora.png);
}
.serviziboxint--mod5{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
        url(./immagini/imdb.png);
}
.serviziboxint--mod6{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
        url(./immagini/sky.png);
}
.serviziboxint--mod7{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
        url(./immagini/cnn.png);
}
.serviziboxint--mod8{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
        url(./immagini/bbc.png);
}
.serviziboxint--mod9{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
        url(./immagini/3b.jpg);
}
.serviziboxint--mod10{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
        url(./immagini/booking.jpeg);
}
.serviziboxint--mod11{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
        url(./immagini/trip.jpg);
}
.serviziboxint--mod12{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
        url(./immagini/michelin.jpg);
}
.serviziboxint--mod13{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
        url(./immagini/thefork.jpg);
}